#top-logo {
  margin-left:20px;
}

#intro {
  font-size:20px;
  text-align: justify;
}

#activity {
  font-weight: bold;
}

#demo-profile {
  font-size: 20px;
}

.subtitles {
  font-style: italic;
}

.img-container {
  width: 450px;
  height: 450px;
}

.body-text {
  margin-left: 17px;
  width: 450px;
  text-align: justify;
}

.ver-divider{
    position:absolute;
    height: 600px;
    width: 1px;
    top: 370px;
    border-right: 1px solid #e0e0e0;
}

.right-margin {
  margin-right: 85px;
}

.questions {
  font-style: normal;
  font-size: 20px;
  color: white;
  background-color: #558b2f;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.answers {
  text-align: justify;
  font-style: normal;
  background-color: #c8c6c9;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.left-margin {
  margin: 0px 17px 0px 17px;
  text-align: justify;
}
